@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


main {
  padding-top: 100px;
}


body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Hero section */
.hero {
  background: linear-gradient(to right, #969595, #333);
  color: white;
  text-align: center;
  padding: 20px 0;         /* במקום רווחים ענקיים */
  margin: 0;
}
.hero h2 {
  font-size: clamp(1.2rem, 5vw, 2rem);
  margin-bottom: 10px;
}



.hero p {
  font-size: 1.2rem;
}
.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}
.hero .btn:hover {
  background-color: #e0e0e0;
}

/* Card section */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
  background-color: #f0f0f0;
}
.card {
  background: white;
  border-radius: 10px;
  padding: 30px 20px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card h3 {
  color: #000000;
  margin-bottom: 10px;
}
